.how{
    margin-top: 50px;
   

}
.how__content{
    width: 50%;
    display: flex;
    flex-direction: column;
  flex-wrap: wrap;
    margin-left: auto;
    margin-right:auto ;
}
.how__title{
    margin-bottom: 50px;
    font-family: "Oranienbaum";
    text-align: left;
}
.how__text{
    font-family: "Roboto";
    text-align: left;
}
.how__text_center{
  max-width:450px;
  margin-left: 10rem;
}
@media screen and (max-width: 768px) {
    .how__text_center{
 margin-left: 0rem;
      }
}
@media screen and (max-width: 500px) {
    .how__content{
        width: 80%;
    
    }
}